/* блок с текстом */
.textBlock {
	position: relative;
	padding: 0px 16px 16px 16px;
	background-color: var(--color-card);
	border-radius: 0px 0px var(--borderRadius) var(--borderRadius);
	-webkit-border-radius: 0px 0px var(--borderRadius) var(--borderRadius);
	-moz-border-radius: 0px 0px var(--borderRadius) var(--borderRadius);
	-ms-border-radius: 0px 0px var(--borderRadius) var(--borderRadius);
	-o-border-radius: 0px 0px var(--borderRadius) var(--borderRadius);
}

.textContent {
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	border-top: 1px solid #dbdbdb;
	padding-top: 8px;
	line-clamp: 3;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	font-size: 14px;
	line-height: 1.4;
	color: #333;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.textContent.expanded {
	display: block;
	line-clamp: unset;
	-webkit-line-clamp: unset;
	overflow: visible;
	padding-bottom: 30px;
}

.textContent::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2.4rem;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
	pointer-events: none;
}

.textContent.expanded::after {
	display: none;
}

.readMore {
	text-align: center;
	cursor: pointer;
	color: var(--color-orange);
	margin-top: 5px;
	font-size: 14px;
	font-weight: bold;
	user-select: none;
	transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
}

.readMore:hover {
	color: var(--color-orange);
	opacity: 0.7;
}
