.tileContainer {
	background-color: #ffffff;
	border-radius: var(--borderRadius);
	-webkit-border-radius: var(--borderRadius);
	-moz-border-radius: var(--borderRadius);
	-ms-border-radius: var(--borderRadius);
	-o-border-radius: var(--borderRadius);
	padding-bottom: 20px;
	max-height: max-content;
}

.infoContainer {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: 14px;
	line-height: 20px;
	padding: 8px 16px;
}

.info {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.info:last-child {
	border-bottom: 1px solid #dbdbdb;
	padding-bottom: 8px;
}

.textLight {
	color: #444444;
}
