.tileHeader {
	display: grid;
	grid-template-columns: 1fr 2fr;
	position: relative;
}

.gearImage {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 16px;
	top: 10px;
}

.gearImage path {
	fill: rgb(0, 170, 113);
}

.plate {
	color: #ffffff;
	padding: 16px;
	text-align: center;
	white-space: nowrap;

	border-top-left-radius: var(--borderRadius);
	border-bottom-right-radius: var(--borderRadius);
	-webkit-border-top-left-radius: var(--borderRadius);
	-webkit-border-bottom-right-radius: var(--borderRadius);
	-moz-border-radius-topleft: var(--borderRadius);
	-moz-border-radius-bottomright: var(--borderRadius);
}

.title {
	display: flex;
	align-items: center;
	margin-left: 10px;
	font-weight: 500;
}

.inProgress {
	background-color: var(--color-inProgress);
}

.overdue {
	background-color: var(--color-overdue);
}

.hasFeedback {
	background-color: var(--color-hasFeedback);
}

.completed {
	background-color: var(--color-completed);
}
